{% extends "content.html" %}

{% block tag_name %}{{ tag_name }}{% endblock %}
{% block header %}{{ path_detailed_info.path }}{% endblock %}
{% block content %}
	<div class="container">
		<div class="tag_description">{{ path_detailed_info.summary }}</div>
		<div class="tag_description_long">{{ path_detailed_info.description }}</div>
		<div class="parameters">
			<h2>Parameters: </h2>
			<span></span>
			{% for parameter in path_detailed_info.parameters %}
				<div class="parameter">
					<div class="parameter_info">
						<div class="tag_name">{{ parameter.name }}</div>
						<div class="tag_description">
							{{ parameter.type }}
							{% if parameter.required %}
								<span class="parameter_required">(required)</span>
							{% endif %}
						</div>
						<div class="tag_description_long">{{ parameter.description }}</div>
					</div>
					<div class="parameter_example">
						<label>
							<span>Select an example value:</span>
							<select class="parameter_examples">
								<option value="0" disabled selected>Example values:</option>
								{% for example_name, example_value in parameter.examples.items() %}
									<option value="{{ example_value }}">{{ example_name }}</option>
								{% endfor %}
							</select>
						</label>
						<label>
							<span>Or try your own value:</span>
							<input type="text">
						</label>
					</div>
				</div>
			{% endfor %}
		</div>
		<button type="button" class="execute_button">Try it out!</button>
	</div>
{% endblock %}