<label class="field">
	<span class="field-title">Alpha:</span>
	<input type="text" readonly value="{{ alpha }}">
</label>
<label class="field">
	<span class="field-title">Taxa Count:</span>
	<input type="text" readonly value="{{ num_taxa }}">
</label>
<label class="field">
	<span class="field-title">Phylo Diversity</span>
	<input type="text" readonly value="{{ phylo_diversity }}">
</label>
<label class="field">
	<span class="field-title">Alpha rank</span>
	<input type="text" readonly value="{{ alpha_rank }}">
</label>
<label class="field">
	<span class="field-title">Taxon Alpha rank</span>
	<input type="text" readonly value="{{ taxon_alpha_rank }}">
</label>
<label class="field">
	<span class="field-title">Pd Rank</span>
	<input type="text" readonly value="{{ pd_rank }}">
</label>
{% if phylo_tree_path %}
	<div class="image">
		<img src="{{ phylo_tree_path }}" alt="Phylogenetic tree">
		<div class="title">Phylogenetic tree</div>
	</div>
{% endif %}
{% if taxon_tree_path %}
	<div class="image">
		<img src="{{ taxon_tree_path }}" alt="Taxon tree">
		<div class="title">Taxon tree</div>
	</div>
{% endif %}
{% if delta_image_path %}
	<div class="image">
		<img src="{{ delta_image_path }}" alt="Delta image">
		<div class="title">Delta image</div>
	</div>
{% endif %}
{% if cdf_image_path %}
	<div class="image">
		<img src="{{ cdf_image_path }}" alt="CDF image">
		<div class="title">CDF image</div>
	</div>
{% endif %}