{% extends "content.html" %}

{% block tag_name %}{{ tag_name }}{% endblock %}
{% block header %}{{ path_detailed_info.path }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="tag-description">{{ path_detailed_info.summary }}</div>
    <div class="tag-description-long">{{ path_detailed_info.description }}</div>
    <div class="parameters">
      <h2>Parameters: </h2>
      <span></span>
      {% for parameter in path_detailed_info.parameters %}
        <div class="parameter">
          <div class="parameter-info">
            <div class="tag-name">
              {{ parameter.name }}
              {% if parameter.required %}
                <span class="parameter-required">(required)</span>
              {% endif %}
            </div>
            <div class="tag-description-long">{{ parameter.description }}</div>
          </div>
          <div class="parameter-example">
            {% if parameter.type == 'string' %}
              {% if parameter.examples %}
                <label>
                  <span>Select an example value:</span>
                  <select class="parameter-examples">
                    <option value="0" disabled selected>Example values:</option>
                    {% for example_name, example_value in parameter.examples.items() %}
                      <option
                        value="{{ example_value }}">{{ example_name }}</option>
                    {% endfor %}
                  </select>
                </label>
              {% endif %}
              <label>
                <span>Or try your own value:</span>
                <input type="text">
              </label>
            {% elif parameter.type == 'boolean' %}
              <label class="checkbox-with-indicator">
                <input
                  type="checkbox"
                  {%- if parameter.default -%}
                    checked="checked"
                  {% endif %}
                >
                <span></span>
              </label>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button type="button" class="execute-button">Try it out!</button>
    <label class="request-url hidden">
      Request URL:
      <input type="text" readonly>
    </label>
    <div id="response" class="hidden">
      <h3>Response:</h3>
      <div class="response-content"></div>
    </div>
  </div>
  <script>
    const pathDetailedInfo = JSON.parse(
      `{{ path_detailed_info_json|safe }}`.replace('\\`', '`')
    );
  </script>
{% endblock %}