:root {
	--b1: #eee;
	--b2: #fff;
	--b3: #ccc;
	--border: #ccc;
	--t1: #666;
	--t2: #888;
	--t3: #000;
	--red: #f00;
	--green: #0f0;
}

body {
	margin: 2rem;
	background: var(--b1);
	font-family: "Calibri", sans-serif;
}

* {
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	overflow-y: hidden;
}

.search_box {
	width: 20%;
	border: none;
	margin-bottom: 2rem;
	background: var(--b3);
	padding: 0.5rem;
	border-radius: 0.6rem;
}

.collection_content {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
}

.hidden,
.collection.closed .collection_content {
	display: none;
}

.field input {
	display: block;
	width: 100%;
	padding: 0.6rem;
	border-radius: 0.6rem;
	border: 1px solid var(--b3);
}

.image {
	width: -moz-fit-content;
	width: fit-content;
}

.image img {
	max-width: 100%;
}

.image .title {
	text-align: center;
	background: var(--b2);
	padding: 0.5rem;
	margin-top: -0.4rem;
}