:root {
	--b1: #eee;
	--b2: #fff;
	--b3: #ccc;
	--border: #ccc;
	--t1: #666;
	--t2: #888;
	--t3: #000;
	--red: #f00;
}

body {
	margin: 0;
	background: var(--b1);
	font-family: "Calibri", sans-serif;
}

* {
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

.centered {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: -moz-fit-content;
	width: fit-content;
	min-width: 26vw;
	box-shadow: 0 0 2rem 0.5rem var(--t1);
}

header {
	width: 100%;
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	background: var(--b3);
	display: flex;
	justify-content: flex-start;
	column-gap: 1rem;
	align-items: center;
}

header a {
	text-decoration: none;
	color: var(--t3);
	border-right: 1px solid var(--b2);
	padding-right: 1rem;
}

header span {
}

.tag {
	background: var(--b2);
	padding: 1rem;
	width: 100%;
	color: var(--t1);
	text-decoration: none;
}

.tag:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

.tag:hover,
.tag:focus {
	background: var(--b1);
}

.tag_name {
	font-size: 2rem;
}

.tag_description {
	color: var(--t3);
}

.tag_description_long {
	color: var(--t2);
	padding-top: 0.5rem;
}

.content {
	width: 80vw;
	max-width: 1000px;
	margin: 0 6vw;
	height: 92vh;
	background: var(--b2);
}

.container {
	padding: 2rem;
}

.parameters {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	row-gap: 1rem;
}

.parameters h2 {
	font-size: 2rem;
	margin-bottom: 0;
}

.parameter {
	display: contents;
}

.parameter > * {
	border-bottom: 1px solid var(--t1);
	padding-bottom: 1rem;
}

.parameter_example {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.execute_button {
	margin-top: 2rem;
	border: none;
	padding: 1rem;
	width: 100%;
	font-size: 1rem;
	background: var(--b1);
	cursor: pointer;
}

.execute_button:hover {
	background: var(--b3);
}

.parameter_required {
	color: var(--red);
}